body {
  background-color: rgb(243, 238, 237);
}

#main-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  background-color: white;
}

a {
  font-weight: bold;
}

/* More padding for the main content */
#main-content {
  padding: 40px;
}